<div class='row sg-nav-bar'>
<div class='col-sm-4'></div>
<div class='col-sm-4 text-center'>
<button class='btn btn-lg sg-nav-btn' ng-click='home()'><i class='fa fa-home'></i></button>
<button type="button" class='btn btn-lg sg-nav-btn dropdown-toggle' data-toggle='dropdown' aria-expanded='false'><i class='fa fa-user'></i></button>
<ul class='dropdown-menu pull-right' role='menu'>
<!-- 	<li>
	<button type="button" class="sf-nav-btn-link" data-toggle="modal" data-target="#loginModal">Log In</button>
	</li>
	<li>
	<button type="button" class="sf-nav-btn-link" data-toggle="modal" data-target="#signupModal"></button>
	</li> -->
	<li>
	<a type="button" class="sf-nav-btn-link" data-toggle="modal" data-target="#loginModal">Log In</a>
	</li>
	<li>
	<a type="button" class="sf-nav-btn-link" data-toggle="modal" data-target="#signupModal">Sign Up</a>
	</li>
<!-- 	<li><a href="#/voterDashboard">Signup</a></li>
 --></ul>
</div>
<div class='col-sm-4'></div>
</div><!-- end nav bar -->
<br>

<div class='row sg-header'>
<div align="center" class="embed-responsive embed-responsive-16by6 sg-video">
    <video autoplay loop muted class="embed-responsive-item">
        <source src='assets/images/loop3.mp4' type='video/mp4'>
    </video>    
</div>
<div class="sg-video-layover">
<div class="row">
<div class='col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8'>
<h1 class='sg-title'>Pollster</h1>
<p class='sg-title'>Make better decisions</p>
<hr class='sg-title'>
<div style="text-align: center;">
  <button data-toggle="modal" data-target="#signupModal" type='button' class='btn btn-lg sg-btn sg-btn-layover'>Sign Up</button>
  <button data-toggle="modal" data-target="#loginModal" type='button' class='btn btn-lg sg-btn sg-btn-layover'>Log In</button>
</div>
</div>
<div class='col-sm-2 col-xs-2'>
</div>
</div>
</div>


</div>

<div class='row sg-features'>

	<div class='col-sm-4 sg-launch-info'>
		<h2>Quick Questions</h2>
		<p>Create micro-surveys to get quick feedback.</p>
	</div>
	<div class='col-sm-4 sg-launch-info'>
		<h2>Trained Experts</h2>
    <p>Survey respondents best qualifed to weigh-in.</p>
	</div>
	<div class='col-sm-4 sg-launch-info'>
		<h2>Targeted Feedback</h2>
		<p>Test hypotheses and recieve feedback from real people.</p>
	</div>

</div>


<div class='row sg-footer'>
    <div class='col-sm-12'>
      <p> 2015 © <a class='sg-footer-a' href='http://shubhamgoel.me'>Shubham Goel</a> & <a class='sg-footer-a' href='http://www.xaviermalina.com'>Xavier Malina </a><a class='sg-footer' href='https://www.flickr.com/photos/davidyuweb/9578737506/'> Video by David Yu</a> </p>
    </div>
</div>
<!-- 
<a href=""
   data-toggle="modal"
   data-target="#myModal" class="btn btn-lg btn-success">Click to open Modal</a>
<a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#myModal">Click to open Modal</a>
 --><!-- <a data-target="#myModal">Login</a> -->
<!-- Button trigger modal -->
<!-- <button type="button" class="sf-nav-btn-link" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button> -->

<!-- Log In Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body">
	    <form novalidate role='form'>
	    <div class="form-group">
		<label for="username">Username:</label>
		<input type="username" class="form-control" id="username" placeholder="Enter username" ng-model='credentials.username'>
		</div>
		<div class="form-group">
		<label for="pwd">Password:</label>
		<input type="password" class="form-control" id='password' placeholder="Enter password" ng-model='credentials.password'>
		</div>
		<button type="submit" class="btn sg-btn" data-dismiss="modal" ng-click='signin(credentials)'>Submit</button>
		</form>
      </div>
    </div>
  </div>
</div>

<!-- Sign Up Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Signup</h4>
      </div>
      <div class="modal-body">

<form novalidate class='simple-form' role='form'>
<div class='form-group'>
    <label class='col-sm-3 form-control-static' for='name' style='text-align:right;'>Name:</label>
    <div class='col-sm-9'><input type='text' class='form-control' id='name' placeholder='Enter name' ng-model='credentials.name'></div>
    <br>
</div>
<br>
<div class='form-group'>
    <label class='col-sm-3 form-control-static' for='username' style='text-align:right;'>Username:</label>
    <div class='col-sm-9'><input type='text' class='form-control' id='username' placeholder='Enter desired Username' ng-model='credentials.username'></div>
    <br><br>
</div>
<div class='form-group'>
    <label class='col-sm-3 form-control-static' for='password' style='text-align:right;'>Password:</label>
    <div class='col-sm-9'><input type='password' class='form-control' id='password' placeholder='Enter password' ng-model='credentials.password'></div>
    <br><br>
</div>
<div class='form-group'>
    <label class='col-sm-3 form-control-static' for='email' style='text-align:right;'>Email:</label>
    <div class='col-sm-9'><input type='email' class='form-control' id='email' placeholder='Enter email' ng-model='credentials.email'></div>
    <br><br>
</div>

<div class='form-group'>
    <label class='col-sm-3 form-control-static' for='boostID' style='text-align:right;'>boostID:</label>
    <div class='col-sm-9'><input type='text' class='form-control' id='boostID' placeholder='Enter boostID'  ng-model='credentials.boostID'></div>
    <br><br>
</div>
<div class='form-group'>
    <label class='col-sm-3 form-control-static' for='role' style='text-align:right;'>Role:</label>
    <div class='col-sm-9'><input type='radio' name='voter' value='voter'  ng-model='credentials.role'> Voter
    <input type='radio' name='analyst' value='analyst'  ng-model='credentials.role'> Pollster</div>
    <br>
</div>
<button type='submit' class='btn sg-btn' data-dismiss="modal" ng-click='create(credentials)'>Submit</button>
</form>

      </div>
    </div>
  </div>
</div>

<!-- <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#basicModal">Click to open Modal</a>
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Basic Modal</h4>
      </div>
      <div class="modal-body">
        <h3>Modal Body</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
 -->