/* app css stylesheet */

.sg-header:before {
  content:url(assets/images/header_r.png);
   /*content:url(http://placehold.it/968x150);*/
}
.sg-header{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 0px;
  background-color: #FFFFFF;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-width: 1px;
  border-color: #3BA9D1;
}
.sg-voterdash-top{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 0px;
  background-color: #FFFFFF;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-width: 1px;
  border-color: #3BA9D1;
  padding: 10px;
}
.sg-voterdash-middle{
  border-radius: 0px;
  background-color: #FFFFFF;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-width: 1px;
  border-color: #3BA9D1;
  padding: 10px;
}
.sg-voterdash-votenow{
  color: white;
  background-color:#1A9172;
  cursor:pointer;
}
p.sg-voterdash-underline{
  text-decoration: none;
  font-size: 20px;
  font-weight: lighter;
}
.sg-voterdash-underline {
  text-decoration: underline;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 0px; 
}
.sg-voterdash{
  margin-bottom: 0px;
}
.sg-voterdash-totalvotes{
  color: white;
  background-color:#D6455C
}
.sg-voterdash-totalearnings{
  color: white;
  background-color:#3BA9D1
}
.sg-voterdash-wins{
  color: white;
  background-color:#303C4F
}
.sg-vote-widget{
  padding: 10px;
}
/*.sg-vote-widget-last{
  padding-right: 5px;
}
*/.sg-vote {
  color: white;
}
.sg-vote:hover{
  color: white;
}
.sg-signup-header{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 0px;
  background-color: #FFFFFF;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-width: 1px;
  border-color: #3BA9D1;
}
h1.sg-signup-header{
  text-align: center;
}
.sg-signup-form{
  border-radius: 0px;
  background-color: #FFFFFF;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-width: 1px;
  border-color: #3BA9D1;
}
.sg-features{
  border-radius: 0px;
  background-color: #FFFFFF;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-width: 1px;
  border-color: #3BA9D1;
}
.sg-footer{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 10px;
  color: white;
  background-color: #3476BE;
  border-style: solid;
  border-width: 1px;
  border-color: #3EAAD1;
  padding-top: 10px;
}
.sg-footer-a{
  color: white;
}
.sg-footer-a:hover{
  color: white;
}
.sg-signup{
  margin:50px 0px 0px 0px;
}
input.form-control{
  height:  46px;
  /*font-size: 18px*/
}
button.taller {
  height: 46px;
  /*font-size: 18px;*/
}
body{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #E2E5E6;
}
.border {
  border-style: solid;
  border-width: 1px;
  border-color: red;
}
.form-inline .form-control

.navbar {
  margin-bottom: 20px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
