<div class='row sg-nav-bar'>
<div class='col-sm-4'></div>
<div class='col-sm-4 text-center'>
<button class='btn btn-lg sg-nav-btn' ng-click='home()'><i class='fa fa-home'></i></button>
<button class='btn btn-lg sg-nav-btn' ng-click='startVoting()'>
	<i class='fa fa-check-square'></i><span class='badge sg-nav-badge'>{{remaining}}</span>
	</button>
<button type="button" class='btn btn-lg sg-nav-btn dropdown-toggle' data-toggle='dropdown' aria-expanded='false'><i class='fa fa-user'></i></button>
<ul class='dropdown-menu pull-right' role='menu'>
	<li><a>{{name}}</a> </li>
	<li class="divider"></li>
    <li><a href="#/voterDashboard">Profile</a></li>
    <li><a href="#/voterDashboard">Change Password</a></li>
    <li><a ng-click='logout()'>Log Out</a></li>
</ul>
</div>
<div class='col-sm-4'></div>
</div><!-- end nav bar -->

<br>
<div class='row sg-duel-top'>
<div class='col-sm-3'>
	<h3>Boost Media Polling Project
	<a type="button" class="sf-duel-top-link" data-toggle="modal" data-target="#campaignModal"><i class="fa fa-info-circle"></i></a>
	</h3>
</div>
<div class='col-sm-offset-5 col-sm-2 sg-duel-top-widgets'>
	<h3>$12.50</h3>
	<p>Earned</p>
</div>
<div class='col-sm-2 sg-duel-top-widgets'>
	<h3>23</h3>
	<p>Votes Cast</p>
</div>
</div>
<!-- Question -->
<div class='row sg-duel-vote sg-duel-vote-question'>
<p>Ads are displayed along side the rearch results. Which version of the ad will receive more clicks</p>
</div>
<!-- Keywords -->
<div class='row sg-duel-vote'>
<!-- 3-9 -->
<br>
<div class='col-sm-3'>
	<p>The user types the following into a search engine:</p>
</div>

<div class='col-sm-9'>
<span ng-repeat='keyword in duel.keywords' class='label  sg-key-word'>{{keyword}}</span>
<!-- 	 <span class="label  sg-key-word">shoes online</span>
        <span class="label  sg-key-word">online shoe store</span>
     <span class="label  sg-key-word">cute online shoes</span>
 -->
</div>
</div>

<!-- 
        <li ng-repeat="todo in todoList.todos">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>

 -->

<div class='row sg-duel-vote'>
<!-- 6-6 -->
<div class='col-sm-1'></div>
<div class='col-sm-4 col-xs-5 sg-duel-adcontainer' ng-click="next('VoteAdA')">
	<div class='col-sm-1 col-xs-2 sg-duel-chevron'>
		<h4><i class="fa fa-chevron-right"></i></h4>
	</div>
	<div class='col-sm-11 col-xs-10 sg-duel-adbox sg-duel-adbox-left'>
	  		<a href="{{adA.destinationURL}}">{{adA.title}}</a>
	  		<p>{{adA.displayURL}}<br>
	  		{{adA.line1}}<br>
	  		{{adA.line2}}</p>

	</div>
</div>
<div class='col-sm-2 col-xs-2'>
	<div class='sg-duel-chevron sg-duel-chevron-tie' ng-click="next('equal')">
	<div class='sg-duel-tie'>
		<h4 class='sg-duel-tie-h4'><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-left"></i></h4>
	</div>
	<p>Tie</p>
	</div>

</div>
<div class='col-sm-4 col-xs-5 sg-duel-adcontainer' ng-click="next('VoteAdB')">
	<div class='col-sm-11 col-xs-10 sg-duel-adbox sg-duel-adbox-right'>
	  		<a href="{{adA.destinationURL}}">{{adB.title}}</a>
	  		<p>{{adB.displayURL}}<br>
	  		{{adB.line1}}<br>
	  		{{adB.line2}}</p>

	</div>
		<div class='col-sm-1 col-xs-2 sg-duel-chevron'>
		<h4><i class="fa fa-chevron-left"></i></h4>
	</div>

</div>
<div class='col-sm-1'></div>
</div>

<div class='row sg-duel-vote sg-duel-vote-last'>
    <label class='form-control-static' for='adAText' style='text-align:right;'>Comments:</label>
    <div class=''><textarea class='form-control' placeholder='What led you to this choice?' rows='3' ng-model='credentials.adAText'></textarea>
    <br>
    </div>

<br>
</div>
<div class='row'>
<div class='col-sm-offset-5 col-sm-2'><button ng-click="next('skip')" class="btn center-block btn-block btn-lg sg-btn-skip">Skip</button></div>
</div>



<div class='row sg-footer'>
    <div class='col-sm-12'>
    	<p> 2015 © <a class='sg-footer-a' href='http://shubhamgoel.me'>Shubham Goel</a> & <a class='sg-footer-a' href='#'>Xavier Malina </a></p>
    </div>
</div>

<!-- About Campaign Modal -->
<div class="modal fade" id="campaignModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About the Campaign</h4>
      </div>
      <div class="modal-body">
---
      </div>
    </div>
  </div>
</div>
