<div class='row sg-nav-bar'>
<div class='col-sm-4'></div>
<div class='col-sm-4 text-center'>
<button class='btn btn-lg sg-nav-btn' ng-click='home()'><i class='fa fa-home'></i></button>
<button class='btn btn-lg sg-nav-btn' ng-click='startVoting()'>
	<i class='fa fa-check-square'></i><span class='badge sg-nav-badge'>{{remaining}}</span>
	</button>
<button type="button" class='btn btn-lg sg-nav-btn dropdown-toggle' data-toggle='dropdown' aria-expanded='false'><i class='fa fa-user'></i></button>
<ul class='dropdown-menu pull-right' role='menu'>
	<li><a>{{name}}</a> </li>
	<li class="divider"></li>
    <li><a href="#/voterDashboard">Profile</a></li>
    <li><a href="#/voterDashboard">Change Password</a></li>
    <li><a ng-click='logout()'>Log Out</a></li>
</ul>
</div>
<div class='col-sm-4'></div>
</div><!-- end nav bar -->
<br>
<div class='row sg-voterdash-top'>
<!-- <div class=''> -->
 	<div class='col-sm-12 sg-vote-table'>
 	 	<table class="table table-hover sg-voterdash-table">
            <thead>
              <tr>
                <th class='col-sm-9'>Campaign</th>
                <th class='col-sm-1'>Progress</th>
                <th class='col-sm-2'>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class='sg-cell-chart'><div class='sg-cell-chart sg-cell-chart-training' style="width: 5%;"><p class='sg-cell-chart'>Boost Media</p></div></td>
                <td>5%</td>
                <td><button ng-click="next('skip')" class="btn center-block btn-block sg-btn sg-btn-action">Complete Training</button></td>
              </tr>
              <tr>
		        <td class='sg-cell-chart'><div class='sg-cell-chart sg-cell-chart-training' style="width: 30%;"><p class='sg-cell-chart'>Nike</p></div></td>
		        <td>30%</td>
                <td><button ng-click="next('skip')" class="btn center-block btn-block sg-btn sg-btn-action">Complete Training</button></td>
              </tr>
              <tr>
		        <td class='sg-cell-chart'><div class='sg-cell-chart' style="width: 100%;"><p class='sg-cell-chart'>Geiko</p></div></td>
		        <td>100%</td>
                <td><button ng-click="next('skip')" class="btn center-block btn-block sg-btn sg-btn-action">Start Voting</button></td>
              </tr>
              <tr>
		        <td class='sg-cell-chart'><div class='sg-cell-chart' style="width: 0%;"><p class='sg-cell-chart'>Ashby Flowers</p></div></td>
		        <td>0%</td>
                <td><button ng-click="next('skip')" class="btn center-block btn-block sg-btn sg-btn-action">Vote</button></td>
              </tr>
              <tr>
		        <td class='sg-cell-chart'><div class='sg-cell-chart' style="width: 40%;"><p class='sg-cell-chart'>The Station</p></div></td>
		        <td>40%</td>
                <td><button ng-click="next('skip')" class="btn center-block btn-block sg-btn sg-btn-action">Vote</button></td>
              </tr>
            </tbody>
          </table>
	</div>
    <div class='col-sm-4 sg-vote-widget'>
		<div class='panel panel-default sg-voterdash sg-voterdash-clickable' ng-click='startVoting()'>
		<div class='panel-body'>
			<h2 class='sg-voterdash-underline'><span>{{remaining}}</span></h2>
			<p class='sg-voterdash-underline'><a class='sg-vote' ng-click='startVoting()'>Vote Now</a></p>
		</div>
		</div>
    </div>
    <div class='col-sm-4 sg-vote-widget'>
		<div class='panel panel-default sg-voterdash'>
		<div class='panel-body'>
	    	<h2 class='sg-voterdash-underline'><span>132</span></h2>
	    	<p class='sg-voterdash-underline'>Votes casted</p>
		</div>
		</div>
    </div>
    <div class='col-sm-4 sg-vote-widget sg-vote-widget-last'>
		<div class='panel panel-default sg-voterdash'>
		<div class='panel-body'>
	    	<h2 class='sg-voterdash-underline'><span>$140.50</span></h2>
	    	<p class='sg-voterdash-underline'>Total Earnings</p>
		</div>
		</div>
    </div>
</div>




<div class='row sg-footer'>
    <div class='col-sm-12'>
    	<p> 2015 © <a class='sg-footer-a' href='http://shubhamgoel.me'>Shubham Goel</a> & <a class='sg-footer-a' href='#'>Xavier Malina </a></p>
    </div>
</div>



